<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!--
	Copyright (c) 2007 Marco Merli <yohji@marcomerli.net>
	
	This program is free software; you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation; either version 2 of the License, or
	(at your option) any later version.
	
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.
	
	You should have received a copy of the GNU General Public License
	along with this program; if not, write to the Free Software Foundation,
	Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
-->

<log4j:configuration
	xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">

	<appender
		name="CONSOLE"
		class="org.apache.log4j.ConsoleAppender">
		<param
			name="Target"
			value="System.out" />
		<param
			name="Threshold"
			value="DEBUG" />
		<layout
			class="org.apache.log4j.PatternLayout">
			<param
				name="ConversionPattern"
				value="%p (%c{1}.%M:%L) %m%n" />
		</layout>
	</appender>

	<category
		name="net.marcomerli">
		<priority
			value="DEBUG" />
	</category>

	<category
		name="org.apache">
		<priority
			value="INFO" />
	</category>

	<category
		name="bsh">
		<priority
			value="INFO" />
	</category>

	<category
		name="org.python">
		<priority
			value="INFO" />
	</category>

	<root>
		<appender-ref
			ref="CONSOLE" />
	</root>

</log4j:configuration>
